#casilla1{
    background: url(https://i.pinimg.com/originals/6e/7a/b7/6e7ab746aa314cc1770f49fc9540c977.jpg);
}
#casilla2{
    background: url(https://i.pinimg.com/736x/56/72/dc/5672dc343012539e4a26ee9180e8ede7.jpg);
}
#casilla3{
    background: url(https://i.pinimg.com/originals/49/38/04/4938042a1a7e1116bf41165abff4e0d7.jpg);
}
#casilla4{
    background: url(https://thumbs.dreamstime.com/b/cielo-violeta-con-nubes-de-fondo-dram%C3%A1tico-ne%C3%B3n-210173383.jpg);
}