
#col1{
    background-color: rgb(158, 198, 238);
   
}
#col2{
    background-color: rgb(156, 219, 224);
}
#col3{
    background-color: rgb(174, 241, 143);
   
}

#col4{
    background-color:rgb(164, 182, 223);
  
}




#col6{
     
  
  float: left;

}
#col7{
    
    float:right
}
#col8{
 
   float:right
}
#col9{
 
    float:right;
   
}

#h{
    background-color: rgb(158, 198, 238);
    text-align:justify;
}

