#casilla1{
    background-color: rgb(255, 0, 111);
}
#casilla2{
    background-color: rgb(209, 39, 209);
}
#casilla3{
    background-color: rgb(242, 196, 255);
}
#casilla4{
    background-color: rgb(219, 88, 231);
}